src/main/resources/delta.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://soap.training.mulesoft.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="PayRollService" targetNamespace="http://soap.training.mulesoft.com/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://soap.training.mulesoft.com/" elementFormDefault="unqualified" targetNamespace="http://soap.training.mulesoft.com/" version="1.0">

  <xs:element name="SendPayRollUpdate" type="tns:SendPayRollUpdate"/>
  <xs:element name="SendPayRollUpdateResponse" type="tns:SendPayRollUpdateResponse"/>

  <xs:complexType name="SendPayRollUpdate">
    <xs:sequence>
      <xs:element minOccurs="0" name="FirstName" type="xs:string"/>
      <xs:element minOccurs="0" name="LastName" type="xs:string"/>
      <xs:element minOccurs="0" name="FirstInitial" type="xs:string"/>
      <xs:element minOccurs="0" name="Gender" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SendPayRollUpdateResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:flight"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="flight">
    <xs:sequence>
      <xs:element minOccurs="0" name="Success" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
</wsdl:types>
  <wsdl:message name="SendPayRollUpdateResponse">
    <wsdl:part element="tns:SendPayRollUpdateResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SendPayRollUpdate">
    <wsdl:part element="tns:SendPayRollUpdate" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="PayRollService">
    <wsdl:operation name="SendPayRollUpdate">
      <wsdl:input message="tns:SendPayRollUpdate" name="SendPayRollUpdate">
    </wsdl:input>
      <wsdl:output message="tns:SendPayRollUpdateResponse" name="SendPayRollUpdateResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PayRollServiceSoapBinding" type="tns:PayRollService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="SendPayRollUpdate">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="SendPayRollUpdate">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="SendPayRollUpdateResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PayRollService">
    <wsdl:port binding="tns:PayRollServiceSoapBinding" name="PayRollServicePort">
      <soap:address location="http://training-u.cloudhub.io/essentials/delta"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>